@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* 
.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;

*/

* { margin: 0; padding: 0;}

body {}

header { background-color: black;
        color: white; min-width: 300px;
        }

    header > h1 {
        font-family: "Passion One", sans-serif;
        text-align: center;
        margin-top: 50px;
        font-variant: small-caps;
        margin-top: -20px;
        font-size: 11vw;
        padding-top: 50px;
        
        }

    header > p { color: white; text-align: center; margin-top: -25px; padding: 30px;
                font-size: 1em; padding-bottom: 50px;}

    header  a { color: white; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold; text-decoration: none;
        }

    header a:hover { text-decoration: underline;}

        main { padding-top: 10vh; padding-bottom: 10vh; }

    .parag { font-family: "Sriracha", cursive; ;
            font-size:  3vh; max-width: 500px; padding-left: 10vh; line-height: 2.5EM;}

    #im1 { margin-top: 18vh; background-image: url(imagens/img1.jpg);
        background-size: cover; background-position: center center;
        box-shadow: inset 1px 5px 7px rgba(0, 0, 0, 0.562); background-attachment: fixed;}

        #im1 p { background-color: rgba(0, 0, 0, 0.322);padding-left: 10px;}

        .parag2 {font-family: "Sriracha", cursive; ;
            font-size: 3vh; max-width: 500px; margin-left: 10vh; color: white;  text-shadow: 2px 2px 1px black; padding-top: 11vh; padding-bottom: 10vh; margin-bottom: 10vh;line-height: 2.5EM; }

    #im2 { margin-top: 18vh; background-image: url(imagens/img2.jpg);
        background-size: cover; background-position: center center;
        box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.562); background-attachment: fixed;}

        
        #im2 p { background-color: rgba(0, 0, 0, 0.322); padding-left: 10px;}

        footer { background-color: black; color: white; text-align: center; font-family: sans-serif; font-variant: small-caps; font-size: 0.8em; padding: 10px;}